.alt-screen-header__column span {
  margin-left: 20px;
}

#chatting-room {
  background-color: #9fb9c7;
  height: 500vh;
}

#chatting-room .status-bar,
#chatting-room .alt-screen-header {
  background-color: #9fb9c7;
}

@keyframes fadeInBottomToTop {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInBottomToTop 0.5s ease-in-out forwards;
}

.chat__timestamp {
  color: #eaeef1;
  background-color: #889aa9;
  border-radius: 25px;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 25px;
}

@keyframes fadeInLeftToRight {
  from {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInLeftToRight 0.5s ease-in-out forwards;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.message-info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.message__time {
  margin: 0px 5px;
  opacity: 0.8;
  font-size: 13px;
}

@keyframes fadeInRightToLeft {
  from {
    transform: translateX(10px) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row--mine {
  justify-content: flex-end;
  animation: fadeInRightToLeft 0.5s ease-in-out forwards;
}

.message-row--mine .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.message-row--mine .message-info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply__column:last-child {
  width: 93%;
  position: relative;
}

.reply input {
  height: 35px;
  width: 95%;
  border: var(--border);
  border-radius: 13px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.7;
}

.reply button i {
  opacity: 1;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 7px;
  top: 4px;
}

.reply__column:last-child > i {
  right: 45px;
  top: 18.5px;
}

.reply__column button {
  border: none;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 28px;
  height: 29px;
}

.reply .reply__column:first-child,
.reply .reply__column:last-child i,
.reply .reply__column:last-child button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column:last-child i,
.reply:focus-within .reply__column:last-child button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-8%) translateY(-80px);
  width: 92.5vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
