.alt-screen-header {
  margin-top: 15px;
  padding: var(--horizontal-space);
  display: flex;
  align-items: center;
}

.alt-screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  text-align: end;
}
