.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 40px;
}

.screen-header__title {
  font-size: 38px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__icons__dot {
  border-radius: 3px;
  background-color: #ff6229;
  width: 5px;
  height: 5px;
  position: absolute;
  right: 18px;
  top: 40px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(180deg);
  }
}

.screen-header__icons .fa-gear:hover {
  will-change: transform;
  animation: rotateGear 1s linear infinite;
}
